<div class="uk-card uk-card-default uk-card-body">
                                <span class="statistics-text"> {{fields.field_perkerasan.content }}</span><br>
                                <span class="statistics-number">
                                   {{fields.field_panjang_sta.content }}
                                   
                                </span>
                            </div>