<div class="uk-card uk-card-default uk-card-body">
                                <span class="statistics-text"> {{fields.field_kondisi.content }}</span><br>
                                <span class="statistics-number">
                                   {{fields.field_panjang_sta.content }}
                                    <span class="uk-label uk-label-success">
                                       Meter <span class="ion-arrow-up-c"></span>
                                    </span>
                                </span>
                            </div>